<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="Projet_TutorePU" transaction-type="RESOURCE_LOCAL">
    <class>beans.personne.Doctor</class>
    <class>beans.personne.Generalist</class>
    <class>beans.personne.Patient</class>
    <class>beans.personne.Personne</class>
    <class>beans.personne.Personnel</class>
    <class>beans.sante.Consultation</class>
    <class>beans.sante.Maladie</class>
    <class>beans.sante.Medicament</class>
    <class>beans.sante.Reimboursement</class>
    <class>beans.Identite</class>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/ProjetTutore?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.password" value="kitiwum2@BUI"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>
      <property name="eclipselink.logging.level" value="FINE"/>
      <property name="eclipselink.ddl-generation" value="create-tables"/>
    </properties>
  </persistence-unit>
</persistence>
